@import "tailwindcss";
@plugin "daisyui" {
  themes: light dark --default;
}

:root {
  --background: #f4fafb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Active link styling */
.menu li a.active {
  @apply bg-amber-400 text-black;
}

/* Hover effects */
.menu li a:not(.active):hover {
  @apply bg-base-200;
}
